html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/f2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Body'nin ekran yüksekliği kadar olmasını sağlar */
    overflow-y: scroll;
    /* Dikey kaydırmayı etkinleştirir */
    -webkit-overflow-scrolling: touch;
    /* iOS'ta akıcı kaydırma sağlar */
    position: relative;
}




.link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0 6px;
    margin-right: 25px;
    color: #fff
}

.comm {
    margin: 0;
    padding: 40px 10px;
    box-sizing: border-box;
    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Mobilde alt alta geçsin */
    justify-content: center;
    /* Ortala */
    gap: 30px;
}

.container .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    margin: 0px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background-color: #ffaaa5;
    color: black;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.container .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.container .icon:hover span i {
    color: #fff;
}

.container .icon .tooltip {
    background-color: #ffaaa5;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: none;
}

.container .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -8px;
    background-color: #ffaaa5;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .icon:hover span,
.container .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.container .tiktok:hover span,
.container .tiktok:hover .tooltip,
.container .tiktok:hover .tooltip::before {
    background-color: #000000;
}

.container .whatsapp:hover span,
.container .whatsapp:hover .tooltip,
.container .whatsapp:hover .tooltip::before {
    background-color: #25d366;
}

.container .instagram:hover span,
.container .instagram:hover .tooltip,
.container .instagram:hover .tooltip::before {
    background-color: #dd2a7b;
}

.container .mail:hover span,
.container .mail:hover .tooltip,
.container .mail:hover .tooltip::before {
    background-color: #515bd4;
}

.info-container {
    background-color: #ffaaa5;
    text-align: start;
    padding: 15px;
    border-radius: 10px;
    margin-top: 150px;
    max-width: 500px;
    width: 90%;
    font-weight: bold;
}

.info-container p {
    margin: 5px 0;
}